# 项目排除路径
/zeyuli/zeyuli-job/target/
/.idea/
/zeyuli/zeyuli-job/src/main/resources/static/assets/
/zeyuli/zeyuli-job/src/main/resources/application.yaml
/zeyuli/zeyuli-job/src/main/resources/application-prod.yaml
/zeyuli/zeyuli-job/src/main/resources/application-dev.yaml
